body {
  height: 100vh;
  width: 100vw;
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding-block: 50px;
}

p {
  margin: 0;
}

.hide {
  opacity: 0 !important;
  visibility: hidden !important;
}

.animate-rotate {
  animation: rotate 10s infinite linear;
}

.slide-in {
  right: 0px !important;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.music-ui {
  width: 100%;
  height: auto;
  padding: 30px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.album {
  flex: 2;
  height: 625px;
  width: 375px;
  color: white;
  overflow-y: scroll;
}

.album:hover::-webkit-scrollbar-thumb {
  background: #555;
}

.album::-webkit-scrollbar {
  width: 18px;
}

.album::-webkit-scrollbar-track {
  background: transparent;
}

.album::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  border: 5px solid black;
}

.album::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.track {
  padding: 10px;
  display: flex;
  cursor: pointer;
}

.track:hover .overlay {
  opacity: 1;
}
.track:hover .overlay #trackPlayBtn {
  display: block;
}
.track:hover .overlay #trackPauseBtn {
  display: none;
}

.track__image {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  position: relative;
}

.track__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.track__image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.track__title {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}
.track__singer {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #c2c2c2;
}
.track__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.track__duration {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.track__option {
  width: 30px;
  height: 60px;
  margin-left: auto;
  display: none;
  align-items: center;
  justify-content: center;
}

.track:hover .track__duration {
  display: none;
}
.track:hover .track__option {
  display: flex;
}
.music-player {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  height: 625px;
  width: 375px;
  color: white;
}

.card__phonograph-record {
  color: white;
  height: 16rem;
  width: 16rem;
  border-radius: 50%;
  margin-top: 25px;
  margin-bottom: 35px;
  overflow: hidden;
}

.card__phonograph-record img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background: white;
}

.card__title {
  text-align: center;
  margin: 0;
  margin-bottom: 65px;
  min-height: 60px;
  min-width: 150px;
}

.music-title {
  font-size: 25px;
  font-weight: 700;
}

.music-singer {
  font-size: 14px;
  font-weight: 400;
}

.card__playback-time {
  width: 90%;
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}

.time-indicator {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  left: 100px;
}

#progress-container {
  height: 8px;
  width: 100%;
  overflow: visible;
  border-radius: 8px;
}

#progress-bar {
  transition: none;
  position: relative;
  overflow: visible;
  border-radius: 8px;
  cursor: pointer;
}

#progress-bar::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background: #0d6efd;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
  z-index: 1;
}

#progress-bar:hover::before {
  content: "";
  width: 15px;
  height: 15px;
  right: -7.5px;
}

#progress-bar::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  position: absolute;
  right: -7.5px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
}

#progress-bar:hover::after {
  content: "";
  width: 20px;
  height: 20px;
  right: -10px;
}

.card__control {
  display: flex;
  align-items: center;
  gap: 40px;
}

.card__control button {
  padding: 0;
  margin: 0;
  position: relative;
  border-radius: 50%;
  border: none;
}

.card__control i {
  padding: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

.card__play-pause {
  width: 65px;
  height: 65px;
  font-size: 30px;
  color: white;
  background: linear-gradient(to right, #38ef7d, #11998e);
}

.card__play-pause .fa-play {
  left: 55%;
}
.card__play-pause .fa-pause {
  left: 50%;
}

.card__next,
.card__prev {
  width: 55px;
  height: 55px;
  font-size: 30px;
  background: transparent;
}

#playBtn {
  display: block;
}

#pauseBtn {
  display: none;
}

.upload-file {
  position: absolute;
  top: 50%;
  right: -25%;
  transform: translateY(-50%);
  display: flex;
  transition: all 0.5s;
}

.upload-file h2 {
  margin-bottom: 24px;
  text-align: center;
}

.upload-file h3 {
  margin-bottom: 16px;
}

.upload-file h3:last-of-type {
  margin-top: 24px;
}

.upload-file label,
.upload-file input {
  margin-bottom: 8px;
}

.upload-file button {
  margin-top: 24px;
}

.upload-file .box-2 .card {
  border-radius: 16px;
  height: auto;
  border-top-left-radius: 0;
}

.upload-file .box-2 .card .alert {
  margin-top: 16px;
  transition: all 0.2s;
  opacity: 1;
  visibility: visible;
}

#btnSideCard {
  width: 60px;
  height: 60px;
  padding: 16px;
  font-size: 25px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #0d1326;
  border-right: 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
  transition: all 0.5s;
  align-self: baseline;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
