// color

$white: #fff;
$silver-chalice: #a7a7a7;
$silver: #c2c2c2;
$cod-gray: #1a1a1a;
$nero-gray: #1d1d1d;
$emperor: #555;
$boulder: #767676;
$gray: #888;
$black: #000000;
$black-05: rgba(0, 0, 0, 0.5);
$mine-shaft: #353535;

// sidebar

$header-height: 3rem;
$nav-width: 68px;
$body-font: "Nunito", sans-serif;
$normal-font-size: 1rem;
$z-fixed: 100;
