@import "../helper/variables.scss";
/* *Album* */

.playlist {
  height: 100%;
  color: $white;
  overflow-y: scroll;

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: $emperor;
    }
  }

  &::-webkit-scrollbar {
    width: 18px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
    border: 5px solid $black;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $gray;
  }

  .track {
    display: flex;
    cursor: pointer;
    padding: 10px;

    &:hover {
      background-color: $nero-gray;

      .overlay {
        opacity: 1;

        #trackPauseIcon {
          display: none;
        }

        #trackPlayIcon {
          display: block;
        }
      }

      .track__duration {
        display: none;
      }

      .track__option {
        display: flex;
      }
    }

    .track__image {
      width: 60px;
      height: 60px;
      margin-right: 20px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $black-05;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
      }
    }

    .track__title {
      font-size: 16px;
      line-height: 1.2;
      font-weight: 500;
    }

    .track__singer {
      font-size: 16px;
      line-height: 1.2;
      font-weight: 400;
      color: $silver;
    }

    .track__content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .track__duration {
      margin-left: auto;
      display: flex;
      align-items: center;
    }

    .track__option {
      width: 30px;
      height: 60px;
      margin-left: auto;
      display: none;
      align-items: center;
      justify-content: center;
    }
  }
}

/* *Responsive* */
